body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #f8f8f8;
}

.container {
  max-width: 420px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.header {
  text-align: center;
  color: #ff6b82;
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 18px;
}

.option {
  border: 2px solid #bab9ba;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition: max-height 0.3s ease;
  max-height: 70px;
}

.option.expanded {
  max-height: 300px;
}

.option-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.discount {
  background-color: #ff6b82;
  color: #fff;
  padding: 2px 8px;
  margin-left: 10px;
  align-self: center;
  font-size: 10px;
}
.standard-price {
  position: absolute;
  font-size: 10px;
  font-weight: 700;
  left: 47px;
}
.most-popular {
  position: absolute;
  top: -4px;
  right: -9px;
  align-self: center;
  background-color: #ff6b82;
  color: #fff;
  padding: 5px 15px;
  font-size: 10px;
  font-weight: bold;
  border-radius: 4px;
}

.price {
  font-size: 15px;
  margin-left: 50px;
  font-weight: bold;
  color: #333;
}

.original-price {
  font-size: 10px;
  color: #888;
  text-decoration: line-through;
  position: relative;
  left: 209px;
}

.size {
  font-size: 12px;
  font-weight: 600;
  position: absolute;
  margin-top: 5px;
  top: 53px;
  left: 55px;
}

.color {
  position: absolute;
  font-size: 12px;
  font-weight: 600;
  margin-top: 5px;
  top: 53px;
  left: 108px;
}

input[type="radio"] {
  accent-color: #ff6b82;
}

.free-delivery {
  color: #ff9fad;
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}
.delivery {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.unit-title {
  font-weight: bold;
}

.units-container {
  display: flex;
}

.add-to-cart {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #ff6b82;
  color: #fff;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.powered-by {
  font-size: 10px;
  color: #aaa;
  text-align: right;
  margin-top: 5px;
}

.total {
  font-size: 12px;
  margin: 15px 0;
  font-weight: 700;
}

.unit-selection-container {
  display: none;
  margin-top: 25px;
}

.option.expanded .unit-selection-container {
  display: block;
}

.unit-selection {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
  margin-left: 10px;
}

.unit-selection select {
  padding: 5px;
  font-size: 14px;
}
